:root {
  /*************** Colors ******************/
  --main-color: #000;
  --secondary-color: #bada55;
  --bg-color: #fff;
  --font-color: #000;
  --font-color-white: #fff;
  --btn-color-primary: #000;
  --btn-color-secondary: #fff;

  /*************** Font sizes ******************/

  --font-size-sm: clamp(0.8rem, -0.09vw + 0.82rem, 0.75rem);
  --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-md: clamp(1.25rem, 0.15vw + 1.21rem, 1.33rem);
  --font-size-lg: clamp(1.56rem, 0.39vw + 1.47rem, 1.78rem);
  --font-size-xl: clamp(1.95rem, 0.76vw + 1.76rem, 2.37rem);
  --font-size-xxl: clamp(2.44rem, 1.3vw + 2.12rem, 3.16rem);
  --font-size-xxxl: clamp(3.05rem, 2.1vw + 2.53rem, 4.21rem);
  --font-size-xxxxl: clamp(3.81rem, 3.26vw + 3rem, 5.61rem);

  /*************** Borders ******************/
  --border-thin-black: 1px solid black;
  --border-thick-black: 2px solid black;
  --border-thick-white: 2px solid #fff;
  --border-thin-white: 1px solid #fff;
  /*************** spacing ******************/
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 52px;
  --spacing-9: 100px;
  --spacing-10: 140px;

  --spacing-full-width: 100vw;
  --spacing-full-height: 100vh;

  /*************** Transitions ******************/

  --easing: ease 300ms;
  --easing-transform: transform ease 300ms;

  --pseudo-top: 10px;
  --pseudo-left: 10px;
}

/* IvyPresto Headline Light

font-family: ivypresto-headline, serif;

font-weight: 300;

font-style: normal;


IvyPresto Headline Regular

font-family: ivypresto-headline, serif;

font-weight: 400;

font-style: normal;


IvyPresto Headline SemiBold

font-family: ivypresto-headline, serif;

font-weight: 600;

font-style: normal;


IvyPresto Headline Bold

font-family: ivypresto-headline, serif;

font-weight: 700;

font-style: normal; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}

ul li {
  list-style: none;
}

nav {
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
}

.padding-block {
  padding-block: var(--spacing-10);
}

/****************************************************************** General styling **********************************************************************/

/*** Text styles ***/

.display-heading {
  font-size: var(--font-size-xxxxl);
  font-family: ivypresto-headline, serif;
  font-weight: 300;
  font-style: normal;
  line-height: 120%;
}

.main-title {
  font-size: var(--font-size-xxxl);
  font-family: "Tinos", serif;
  font-weight: 400;
}

.second-title {
  font-size: var(--font-size-xxl);
  font-family: ivypresto-headline, serif;
  font-weight: 400;
  font-style: normal;
}

.third-title {
  font-size: var(--font-size-xl);
  font-family: "Tinos", serif;
}

.fourth-title {
  font-size: var(--font-size-lg);
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.fifth-title {
  font-size: var(--font-size-md);
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.lead {
  font-size: var(--font-size-md);
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.xl-paragrapgh {
  font-size: var(--font-size-xl);
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.paragrapgh {
  font-size: var(--font-size-base);
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.detail {
  font-size: var(--font-size-sm);
  font-family: "neue-haas-grotesk-text", sans-serif;
}

.link-title {
  font-size: var(--font-size-md);
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.btn-text {
  font-size: var(--font-size-base);
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
}

.h1-span {
  font-size: var(--font-size-base);
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  vertical-align: text-top;
}

a {
  text-decoration: none;
  font-size: var(--font-size-base);
  color: var(--font-color);
}

.black {
  color: var(--font-color);
}

.white {
  color: var(--font-color-white);
}

.center {
  text-align: center;
}

.inline-margin {
  margin: var(--spacing-8);
}

/****************************************************************** Mobile & general *************************************************************************/

.main-grid {
  padding-inline: var(--spacing-3);
}
.main-grid.black {
  background-color: var(--font-color);
}

.blur-us {
  transition: var(--easing);
}
/*Navigation & burger*/

#circle {
  width: 104px;
  height: 104px;
  border-radius: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  background-color: #000;
  position: absolute;
  top: -1000px;
  left: -1000px;
  transition: 100ms ease;
  visibility: hidden;
  pointer-events: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-4);
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

header {
  position: fixed;
  width: 100vw;
}

.nav-wrapper {
  display: flex;
  gap: var(--spacing-10);
  align-items: center;
}

.menu {
  gap: var(--spacing-5);
  color: var(--font-color);
  display: none;
}

.menu-item a {
  color: var(--font-color);

  mix-blend-mode: difference;
  background-color: transparent;
}

.burger-icon {
  border: none;
  background-color: transparent;
  height: 80px;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 200;
  transition: var(--easing);
}

.bar {
  transition: var(--easing);
}

.burger.open {
  top: 0%;
  left: 0%;
}

.burger-icon.close-icon {
  transform: rotate(45deg);
}

.burger-icon.close-icon .bar:last-child {
  transform: rotate(90deg);
}

.burger-icon .bar {
  height: 2px;
  width: 50px;
  background-color: var(--main-color);
  margin-block: var(--spacing-3);
}

.burger {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: var(--bg-color);
  top: 0%;
  left: 100%;
  z-index: 100;
  transition: var(--easing);
  z-index: 20;
}

.logo svg path {
  fill: var(--main-color);
  color: var(--main-color);
}

.logo {
  position: relative;
  z-index: 200;
}

/* !navigation */

/* Buttons */

.btn-secondary {
  border: var(--border-thick-black);
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-6);
  border-radius: 999px;
  display: inline-flex;
  transition: var(--easing);
}

.btn-primary {
  border: var(--border-thick-black);
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-6);
  border-radius: 999px;
  display: inline-flex;
  transition: var(--easing);
  color: var(--btn-color-secondary);
  background-color: var(--btn-color-primary);
}

.btn-secondary.white {
  border: var(--border-thick-white);
  color: var(--btn-color-secondary);
  background-color: var(--btn-color-primary);
}

/*Buttons over */

/*Hero section */

.hero-wrapper {
  background-color: var(--bg-color);
}

/*Hero section over & out >_>*/

/*Udstillinger component */

.udstilling-link {
  border-block: var(--border-thin-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-3);
  margin-block: -1px;
}

.udstil-name {
  margin-bottom: var(--spacing-3);
}

.udstilling-list .btn-primary {
  align-self: flex-start;
}

.udstilling-dates,
.event-time {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

/*Udstillinger component over ***/

/*Event frontapge mobil module */

.event-wrapper {
  margin-block: var(--spacing-8);
}

.event-wrapper .second-title {
  margin-block: var(--spacing-8);
}

.event {
  display: flex;
  justify-content: space-between;
  border-top: var(--border-thin-black);
  border-bottom: var(--border-thin-black);
  padding-block: var(--spacing-4);
  align-items: center;
  margin-bottom: -1px;
}

.event > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-date-time {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.event-date,
.event-tag p:first-child,
.event-name .lead {
  margin-bottom: var(--spacing-3);
}

.events {
  transition: var(--easing);
}

/*Event module out */

/*Om sektion frontpage mobil */

.about-p > * {
  margin-bottom: var(--spacing-8);
}

.about-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-p a {
  align-self: center;
}

/*Om sektion frontpage mobil done */

/****************************************************************** Tablet *************************************************************************/

@media screen and (min-width: 768px) {
  /* Tablet styling goes here  */
  .main-grid {
    display: grid;
    grid-template-columns: 5% 1fr 10%;
  }
}

/****************************************************************** Desktop ************************************************************************/

@media screen and (min-width: 1000px) {
  /* Desktop styling goes here  */

  /*NAV*/
  .menu {
    display: flex;
  }

  .menu-item a {
    display: inline-block;
    position: relative;
    padding-block: var(--spacing-2);
  }

  /*GRIDS*/

  .tw-col-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .main-grid {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
  }

  .main-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .udstilling-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-8);
  }

  .udstillinger-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: var(--spacing-4);
  }

  .udstilling-grid,
  .udstilling-grid img {
    height: 100%;
    object-fit: cover;
  }

  .udstilling-grid:first-child {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .udstilling-grid:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
  }
  .udstilling-grid:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .udstilling-grid:nth-child(4) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 10;
  }
  .udstilling-grid:last-child {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 11;
  }

  /*HERO*/

  .hero-section {
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 80vh;

    display: grid;
    align-items: center;

    gap: var(--spacing-4);
  }

  .hero-section .hero-heading {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .hero-section .hero-intro {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    align-self: flex-start;
  }

  .tw-col-grid .udstillinger-grid {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 10;
  }

  .hero-intro .paragrapgh {
    margin-block: var(--spacing-6);
  }

  .hero-btns {
    display: flex;
    gap: var(--spacing-4);
  }

  /***Udstillings component ******/

  .udstilling-component {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-9);
    margin-block: var(--spacing-10);
  }

  .udstilling-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    width: 400px;
    height: 600px;
  }

  .udstilling-img img {
    height: 600px;
    width: 400px;
    object-fit: cover;
  }

  .udstilling-img figcaption:first-child {
    text-align: start;
    margin-bottom: var(--spacing-3);
  }
  .udstilling-img figcaption:last-child {
    text-align: end;
    margin-top: var(--spacing-3);
  }

  .udstilling-list {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  /***Udstillings slut ******/
  /** About section **/
  .about-image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    max-width: 70vw;
  }
  /**About over **/
}

/****************************************************************** Hovers *************************************************************************/

@media screen and (min-width: 1000px) {
  /* Desktop styling goes here  */

  .menu-item a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    transform-origin: bottom right;
    transition: var(--easing-transform);
  }

  .menu-item a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .btn-primary:hover {
    background-color: var(--btn-color-primary);
    color: var(--btn-color-secondary);
    transform: translateY(-12px);
  }
  .btn-secondary:hover {
    background-color: var(--btn-color-secondary);
    color: var(--btn-color-secondary);
    transform: translateY(-12px);
    color: var(--btn-color-primary);
  }

  .blur-rest:hover > .blur-us {
    opacity: 0.3;
  }

  .blur-rest .blur-us:hover {
    opacity: 1;
  }

  .blur-us {
    position: relative;
  }

  .burger-icon:hover .bar,
  .burger-icon.close-icon .bar {
    margin-block: -1px;
  }

  div.mouse-event {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--font-color-white);
    border-radius: 99999px;
    position: absolute;
    transition: var(--easing-transform);
    height: 150px;
    width: 150px;
    top: var(--pseudo-top);
    left: var(--pseudo-left);
    visibility: hidden;
    background-color: var(--btn-color-primary);
  }

  .blur-us:hover:after {
    visibility: visible;
  }
}

.valgt {
  background-color: blue;
}

/****************************************************************** Animations *********************************************************************/
